@font-face {
	font-family: 'IRANSansWeb';
	src: url(../../assets/fonts/IRANSansWeb-54c24bcf4040c9ea9336a577b1e1c9c9.woff2) format('woff2'),
	url(../../assets/fonts/IRANSansWeb-66cd85df99e982133c279321e231d7fc.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IRANSansWeb';
	src: url(../../assets/fonts/IRANSansWeb-54c24bcf4040c9ea9336a577b1e1c9c9.woff2) format('woff2'),
	url(../../assets/fonts/IRANSansWeb-66cd85df99e982133c279321e231d7fc.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IRANSansWeb';
	src: url(../../assets/fonts/IRANSansWeb-54c24bcf4040c9ea9336a577b1e1c9c9.woff2) format('woff2'),
	url(../../assets/fonts/IRANSansWeb-66cd85df99e982133c279321e231d7fc.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}